<div class="container">
		<div class="row">
			<div class="span12" data-motopress-wrapper-file="page.php" data-motopress-wrapper-type="content">
				<div class="row">
					<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
						<section class="title-section">
	<h1 class="title-header">
		
			Checkout	</h1>
				<!-- BEGIN BREADCRUMBS-->
			<ul class="breadcrumb breadcrumb__t"><li><a href="https://livedemo00.template-help.com/woocommerce_49014">Home</a></li><li class="divider"></li><li class="active">Checkout</li></ul>			<!-- END BREADCRUMBS -->
	</section><!-- .title-section -->					</div>
				</div>
				<div class="row">
					<div class="span9 right right" id="content" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-1887" class="post-1887 page type-page status-publish hentry page">
		<div class="woocommerce">
	
		<p>Thank you. Your order has been received.</p>

		<ul class="order_details">
			<li class="order">
				Order:				<strong>#2125</strong>
			</li>
			<li class="date">
				Date:				<strong>November 23, 2017</strong>
			</li>
			<li class="total">
				Total:				<strong><span class="amount">$184.50</span></strong>
			</li>
						<li class="method">
				Payment method:				<strong>Direct Bank Transfer</strong>
			</li>
					</ul>
		<div class="clear"></div>

	
	<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
<h2>Our Bank Details</h2>
<ul class="order_details bacs_details">
</ul>	<h2>Order Details</h2>
<table class="shop_table order_details">
	<thead>
		<tr>
			<th class="product-name">Product</th>
			<th class="product-total">Total</th>
		</tr>
	</thead>
	<tfoot>
				<tr>
				<th scope="row">Cart Subtotal:</th>
				<td><span class="amount">$184.50</span></td>
			</tr>
						<tr>
				<th scope="row">Shipping:</th>
				<td>Free Shipping</td>
			</tr>
						<tr>
				<th scope="row">Order Total:</th>
				<td><span class="amount">$184.50</span></td>
			</tr>
				</tfoot>
	<tbody>
						<tr class="order_item">
					<td class="product-name">
						<a href="https://livedemo00.template-help.com/woocommerce_49014/product/product-8/">Bobbi Brown metallic long-wear cream shadow in mercury</a> <strong class="product-quantity">× 1</strong>					</td>
					<td class="product-total">
						<span class="amount">$99.50</span>					</td>
				</tr>
								<tr class="order_item">
					<td class="product-name">
						<a href="https://livedemo00.template-help.com/woocommerce_49014/product/product-9/">Bobbi brown soothing balm</a> <strong class="product-quantity">× 1</strong>					</td>
					<td class="product-total">
						<span class="amount">$85.00</span>					</td>
				</tr>
					</tbody>
</table>


<header>
	<h2>Customer details</h2>
</header>
<dl class="customer_details">
<dt>Email:</dt><dd>danielmmf@gmail.com</dd><dt>Telephone:</dt><dd>11964657654</dd></dl>


<div class="col2-set addresses">

	<div class="col-1">


		<header class="title">
			<h3>Billing Address</h3>
		</header>
		<address><p>
			Daniel Medeiros<br>
Ernesto Brodella<br>
Casa<br>
São Paulo<br>
São Paulo<br>
05359190<br>
Brazil		</p></address>


	</div><!-- /.col-1 -->

	<div class="col-2">

		<header class="title">
			<h3>Shipping Address</h3>
		</header>
		<address><p>
			Daniel Medeiros<br>
Ernesto Brodella<br>
Casa<br>
São Paulo<br>
São Paulo<br>
05359190<br>
Brazil		</p></address>

	</div><!-- /.col-2 -->

</div><!-- /.col2-set -->


<div class="clear"></div>

</div>
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--#post-->
					</div>
					<div class="span3 sidebar" id="sidebar" data-motopress-type="static-sidebar" data-motopress-sidebar-file="sidebar.php">
						
<div id="search-2" class="widget"><div class="search-form">
	<form id="searchform" method="get" action="https://livedemo00.template-help.com/woocommerce_49014" accept-charset="utf-8">
		<input type="text" value="" name="s" id="s" class="search-form_it">
		<input type="submit" value="search" id="search-submit" class="search-form_is btn btn-primary">
	</form>
</div></div><div id="my_postwidget-7" class="widget"><h2>Recent posts</h2>			<ul class="post-list unstyled">
			
						
			<li class="post-list_li clearfix">
			
								<figure class="featured-thumbnail thumbnail">
					<a href="https://livedemo00.template-help.com/woocommerce_49014/uncategorized/mauris-posuere/" title="Mauris posuere"><img src="https://livedemo00.template-help.com/woocommerce_49014/wp-content/uploads/2012/06/bigstock_Portrait_of_a_cute_lady_12127901-100x100.jpg" alt="Mauris posuere"></a>
				</figure>
				
				<time datetime="2013-03-14T20:28">March 14, 2013</time>
				
				<h4 class="post-list_h">
					<a href="https://livedemo00.template-help.com/woocommerce_49014/uncategorized/mauris-posuere/" rel="bookmark" title="Permanent Link to Mauris posuere">Mauris posuere</a>
				</h4>

								<div class="excerpt">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit... 				</div>
								<a href="https://livedemo00.template-help.com/woocommerce_49014/uncategorized/mauris-posuere/" class="btn btn-primary">Read more</a>
			</li>
			
						
			<li class="post-list_li clearfix">
			
								<figure class="featured-thumbnail thumbnail">
					<a href="https://livedemo00.template-help.com/woocommerce_49014/blandit/donec-tempor-libero/" title="Donec tempor libero"><img src="https://livedemo00.template-help.com/woocommerce_49014/wp-content/uploads/2012/06/bigstock_Massage_Is_Wonderful_1935435-100x100.jpg" alt="Donec tempor libero"></a>
				</figure>
				
				<time datetime="2013-03-05T20:31">March 5, 2013</time>
				
				<h4 class="post-list_h">
					<a href="https://livedemo00.template-help.com/woocommerce_49014/blandit/donec-tempor-libero/" rel="bookmark" title="Permanent Link to Donec tempor libero">Donec tempor libero</a>
				</h4>

								<div class="excerpt">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit... 				</div>
								<a href="https://livedemo00.template-help.com/woocommerce_49014/blandit/donec-tempor-libero/" class="btn btn-primary">Read more</a>
			</li>
			
						
			<li class="post-list_li clearfix">
			
								<figure class="featured-thumbnail thumbnail">
					<a href="https://livedemo00.template-help.com/woocommerce_49014/blandit/etiam-dictum-egestas/" title="Etiam dictum egestas"><img src="https://livedemo00.template-help.com/woocommerce_49014/wp-content/uploads/2012/06/bigstock_Fur_Hat_2629611-100x100.jpg" alt="Etiam dictum egestas"></a>
				</figure>
				
				<time datetime="2013-02-14T20:26">February 14, 2013</time>
				
				<h4 class="post-list_h">
					<a href="https://livedemo00.template-help.com/woocommerce_49014/blandit/etiam-dictum-egestas/" rel="bookmark" title="Permanent Link to Etiam dictum egestas">Etiam dictum egestas</a>
				</h4>

								<div class="excerpt">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit... 				</div>
								<a href="https://livedemo00.template-help.com/woocommerce_49014/blandit/etiam-dictum-egestas/" class="btn btn-primary">Read more</a>
			</li>
			
						</ul>

			
			<!-- Link under post cycle -->
			
			</div><div id="tag_cloud-2" class="widget"><h2>Tags</h2><div class="tagcloud"><a href="https://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/accusantium/" class="tag-link-15" title="2 topics" style="font-size: 12.581818181818pt;">accusantium</a>
<a href="https://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/alias/" class="tag-link-16" title="3 topics" style="font-size: 15.636363636364pt;">alias</a>
<a href="https://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/consectetur/" class="tag-link-17" title="6 topics" style="font-size: 22pt;">consectetur</a>
<a href="https://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/cumque/" class="tag-link-18" title="3 topics" style="font-size: 15.636363636364pt;">cumque</a>
<a href="https://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/oluptatum/" class="tag-link-19" title="1 topic" style="font-size: 8pt;">oluptatum</a></div>
</div>					</div>
				</div>
			</div>
		</div>
	</div>