<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="row">
			<div class="span12" data-motopress-wrapper-file="page.php" data-motopress-wrapper-type="content">
				<div class="row">
					<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
						<section class="title-section">
	<h1 class="title-header">
		
			Cadastro de usuario	</h1>
				<!-- BEGIN BREADCRUMBS-->
			<ul class="breadcrumb breadcrumb__t"><li><a href="http://livedemo00.template-help.com/woocommerce_49014">Home</a></li><li class="divider"></li><li class="active">Checkout</li></ul>			<!-- END BREADCRUMBS -->
	</section><!-- .title-section -->					</div>
				</div>
				<div class="row">
					<div class="span9 right right" id="content" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-1887" class="post-1887 page type-page status-publish hentry page">
		<div class="woocommerce">
	<div class="woocommerce-info"  ng-show="!main.logado_front">Ja comprou aqui? <a href="#" class="showlogin">Faça o login ai embaixo {{main.logado_front}}</a></div>
<div class="woocommerce-info estou_logado" ng-show="main.logado_front">Logado <a href="#" class="showlogin">vá comprar !!! </a></div>
<form method="post" class="login" ng-show="!main.logado_front">

	
	<p>Se você ja comprou com a gente seu login ja deve existir , preencha com seu email abaixo !</p>

	<p class="form-row form-row-first">
		<label for="username">email <span class="required">*</span></label>
		<input type="text" class="input-text" name="username" id="username" ng-model="main.email">
	</p>
	<p class="form-row form-row-last">
		<label for="password">Password <span class="required">*</span></label>
		<input class="input-text" type="password" name="password" id="password" ng-model="main.senha">
	</p>
	<div class="clear"></div>

	
	<p class="form-row">
		<input type="button" class="button" name="login" value="Login" ng-click="main.login()">
	
		<label for="rememberme" class="inline">
			<input name="rememberme" type="checkbox" id="rememberme" value="forever"> Lembrar	</label>
	</p>
	<p class="lost_password">
		<a href="#">Perdeu a senha ?</a>
	</p>

	<div class="clear"></div>

	
</form>

<form name="checkout" method="post" class="checkout" action="#">

	
		
		<div class="col-set" id="customer_details">

			<div class="col-1">

				<div class="woocommerce-billing-fields">
	
		<h3>Dados Pessoais</h3>

	
	
	
		
		<p class="form-row form-row-first validate-required" id="billing_first_name_field"><label for="billing_first_name" class="">Primeiro nome <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_first_name" id="billing_first_name" placeholder="Nome" ng-model="registrar.usuario.nome" value="">
				</p>
	
		<p class="form-row form-row-last validate-required" id="billing_last_name_field"><label for="billing_last_name" class="">Sobrenome <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_last_name" id="billing_last_name" placeholder="" value="" ng-model="registrar.usuario.sobrenome" >
				</p><div class="clear"></div>
				<div class="clear"></div>
	
		<p class="form-row form-row-first validate-required validate-email" id="billing_email_field"><label for="billing_email" class="">Email <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_email" id="billing_email" placeholder="" value="" ng-model="registrar.usuario.email" >
				</p>
	
		<p class="form-row form-row-last validate-required validate-phone" id="billing_phone_field"><label for="billing_phone" class="">Senha <abbr class="required" title="required">*</abbr></label><input type="password" class="input-text " name="billing_phone" id="billing_phone" placeholder="" value="" ng-model="registrar.usuario.password" >
				</p><div class="clear"></div>
	
		<p class="form-row form-row-first" id="billing_company_field"><label for="billing_company" class="">Cep</label><input type="text" class="input-text"  name="billing_company" id="CEP" placeholder="Cep" value="" ng-model="registrar.endereco.cep" onblur="getEndereco()" >

		<p class="form-row form-row-last" id="billing_number_field"><label for="billing_number" class="">Numero</label><input type="text" class="input-text"  name="billing_numero" id="numero" placeholder="numero" value="" ng-model="registrar.endereco.numero" >
				</p>
	
		<p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field"><label for="billing_address_1" class="">Endereço <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_address_1" id="rua" placeholder="Rua" value="" ng-model="registrar.endereco.street" >
				</p>
	
		<p class="form-row form-row-wide address-field" id="billing_address_2_field"><label for="billing_address_2" class="">Bairro <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_address_2" id="bairro" placeholder="Bairro" value="" ng-model="registrar.endereco.bairro" >
				</p>
	
		<p class="form-row form-row-wide address-field validate-required" id="billing_city_field" data-o_class="form-row form-row-wide address-field validate-required"><label for="billing_city" class="">Cidade<abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_city" id="cidade" placeholder="Cidade" value="" ng-model="registrar.endereco.cidade" >
				</p>
	
		<p class="form-row form-row-first address-field validate-state" id="billing_state_field" data-o_class="form-row form-row-first address-field validate-state"><label for="billing_state" class="">Uf</label><input type="text" class="input-text " value="" placeholder="Uf" name="billing_state" id="uf" ng-model="registrar.endereco.uf" ></p><p class="form-row form-row-last address-field validate-required validate-postcode" id="billing_postcode_field" data-o_class="form-row form-row-last address-field validate-required validate-postcode"><label for="billing_postcode" class="">Telefone <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_postcode" id="billing_postcode" placeholder="Telefone" value="" ng-model="registrar.endereco.telefone" >
				</p>
	
		
	
	
	
		
			<p class="form-row form-row-wide create-account">
				<input type="button" class="button" ng-click="registrar.salvar_cliente()" name="login" value="Login">
			</p>

		
		
		
			<div class="create-account" style="display: none;">

				<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>

				
					<p class="form-row validate-required" id="account_password_field"><label for="account_password" class="">Account password <abbr class="required" title="required">*</abbr></label><input type="password" class="input-text " name="account_password" id="account_password" placeholder="Password" value="">
				</p>
				
				<div class="clear"></div>

			</div>

		
		
	</div>
			</div>

	

		</div>

		



</form>

</div>
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--#post-->
					</div>
					<div class="span3 sidebar" id="sidebar" data-motopress-type="static-sidebar" data-motopress-sidebar-file="sidebar.php">
						
<div id="search-2" class="widget"><div class="search-form">
	<form id="searchform" method="get" action="http://livedemo00.template-help.com/woocommerce_49014" accept-charset="utf-8">
		<input type="text" value="" name="s" id="s" class="search-form_it">
		<input type="submit" value="search" id="search-submit" class="search-form_is btn btn-primary">
	</form>
</div></div><div id="my_postwidget-7" class="widget"><h2>Recent posts</h2>			<ul class="post-list unstyled">
			
						
			<li class="post-list_li clearfix">
			
								<figure class="featured-thumbnail thumbnail">
					<a href="http://livedemo00.template-help.com/woocommerce_49014/uncategorized/mauris-posuere/" title="Mauris posuere"><img src="http://livedemo00.template-help.com/woocommerce_49014/wp-content/uploads/2012/06/bigstock_Portrait_of_a_cute_lady_12127901-100x100.jpg" alt="Mauris posuere"></a>
				</figure>
				
				<time datetime="2013-03-14T20:28">March 14, 2013</time>
				
				<h4 class="post-list_h">
					<a href="http://livedemo00.template-help.com/woocommerce_49014/uncategorized/mauris-posuere/" rel="bookmark" title="Permanent Link to Mauris posuere">Mauris posuere</a>
				</h4>

								<div class="excerpt">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit... 				</div>
								<a href="http://livedemo00.template-help.com/woocommerce_49014/uncategorized/mauris-posuere/" class="btn btn-primary">Read more</a>
			</li>
			
						
			<li class="post-list_li clearfix">
			
								<figure class="featured-thumbnail thumbnail">
					<a href="http://livedemo00.template-help.com/woocommerce_49014/blandit/donec-tempor-libero/" title="Donec tempor libero"><img src="http://livedemo00.template-help.com/woocommerce_49014/wp-content/uploads/2012/06/bigstock_Massage_Is_Wonderful_1935435-100x100.jpg" alt="Donec tempor libero"></a>
				</figure>
				
				<time datetime="2013-03-05T20:31">March 5, 2013</time>
				
				<h4 class="post-list_h">
					<a href="http://livedemo00.template-help.com/woocommerce_49014/blandit/donec-tempor-libero/" rel="bookmark" title="Permanent Link to Donec tempor libero">Donec tempor libero</a>
				</h4>

								<div class="excerpt">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit... 				</div>
								<a href="http://livedemo00.template-help.com/woocommerce_49014/blandit/donec-tempor-libero/" class="btn btn-primary">Read more</a>
			</li>
			
						
			<li class="post-list_li clearfix">
			
								<figure class="featured-thumbnail thumbnail">
					<a href="http://livedemo00.template-help.com/woocommerce_49014/blandit/etiam-dictum-egestas/" title="Etiam dictum egestas"><img src="http://livedemo00.template-help.com/woocommerce_49014/wp-content/uploads/2012/06/bigstock_Fur_Hat_2629611-100x100.jpg" alt="Etiam dictum egestas"></a>
				</figure>
				
				<time datetime="2013-02-14T20:26">February 14, 2013</time>
				
				<h4 class="post-list_h">
					<a href="http://livedemo00.template-help.com/woocommerce_49014/blandit/etiam-dictum-egestas/" rel="bookmark" title="Permanent Link to Etiam dictum egestas">Etiam dictum egestas</a>
				</h4>

								<div class="excerpt">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit... 				</div>
								<a href="http://livedemo00.template-help.com/woocommerce_49014/blandit/etiam-dictum-egestas/" class="btn btn-primary">Read more</a>
			</li>
			
						</ul>

			
			<!-- Link under post cycle -->
			
			</div><div id="tag_cloud-2" class="widget"><h2>Tags</h2><div class="tagcloud"><a href="http://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/accusantium/" class="tag-link-15" title="2 topics" style="font-size: 12.581818181818pt;">accusantium</a>
<a href="http://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/alias/" class="tag-link-16" title="3 topics" style="font-size: 15.636363636364pt;">alias</a>
<a href="http://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/consectetur/" class="tag-link-17" title="6 topics" style="font-size: 22pt;">consectetur</a>
<a href="http://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/cumque/" class="tag-link-18" title="3 topics" style="font-size: 15.636363636364pt;">cumque</a>
<a href="http://livedemo00.template-help.com/woocommerce_49014/portfolio_tag/oluptatum/" class="tag-link-19" title="1 topic" style="font-size: 8pt;">oluptatum</a></div>
</div>					</div>
				</div>
			</div>
		</div>
	</div>
</div>