
<html ng-app="systemApp">
  <body ng-controller="SystemCtrl">
    <form ng-submit="addUsuario()">
      Nome<input ng-model="newUsuarioNome" />
    
    </form>
    <hr>
    <ul>
      <li ng-repeat="usuario in usuarios| filter:newUsuarioNome">
      	<div ng-repeat="(key,u) in usuario">
      		<h3 ng-if="$index == 0">{{usuario[key].email}}</h3>
      		<span  ng-if="$last">{{$index + 1}}</span>
        </div>
     
      </li>
    </ul>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyBT43GcLxCj7gFv_ffEsH8tRCX3c8LoquY",
    authDomain: "falamebolsa.firebaseapp.com",
    databaseURL: "https://falamebolsa.firebaseio.com",
    projectId: "falamebolsa",
    storageBucket: "falamebolsa.appspot.com",
    messagingSenderId: "332037027307"
  };
  firebase.initializeApp(config);

  var app = angular.module("systemApp", ["firebase"]);
	app.controller("SystemCtrl", function($scope, $firebaseArray) {
	  var ref = firebase.database().ref().child("qr-code/11");

	  $scope.usuarios = $firebaseArray(ref);
	  $scope.addUsuario = function() {
	    $scope.usuarios.$add({
	      nome: $scope.newUsuarioNome,
	      email: $scope.newUsuarioEmail
	    });
	    $scope.newUsuarioNome = '';
	    $scope.newUsuarioEmail = '';
	  };
	});
</script>