// Colors
$main-color: #fff;
$highlight-color: #d8a100;
$common-color: #767676;
$menu-color: #232323;
$social-color: #434343;
$social-icon-color: #afafaf;
$fields-color: #212121;
$fields-bg: #f0f0f0;
$fields-icons: #b8b8b8;
$btn-bg: #d8a100;
$btn-info: #4a8a00;
$border-color: #dadada;
$top-area-02: #4a8a00;
$default-bg: #000;
$facebook: #19579D;
$twitter: #00ABF8;
$banner: #e9995e;
$font: Nunito, sans-serif;
