<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="pt-br">
    
    <!-- Favicon Images -->
    <link rel="icon" href="dist/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="dist/img/favicon/favicon.ico" />
    <meta name="msapplication-TileImage" content="dist/img/favicon/betlolo-icon.ico" />

    <title>Betlolo | Admin</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="dist/css/style.min.css">
    <!-- endinject -->
</head>
    
<body>
    
    <!-- START LOGIN -->
    <section id="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="info">
                        <h1>Betlolo</h1>
                    </div>

                    <div class="signup">
                        <form>
                            <fieldset>
                                <legend>Login</legend>

                                <div class="input-group mb-2">
                                    <div class="input-group-addon"><i class="ion-ios-email-outline"></i></div>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-addon"><i class="ion-ios-locked-outline"></i></div>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Logar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END LOGIN -->

    <!-- inject:js -->
    <script src="dist/js/plugins/plugins.min.js"></script>
    <script src="dist/js/main.min.js"></script>
    <!-- endinject -->
</html>